{% set ns = namespace() %}

{% set ns.printSpecification = false %}

{% set site_url = frappe.utils.get_url() %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    let rows = document.querySelectorAll('.item-row');
    let subtotal = 0;
    rows.forEach((row, index) => {
      subtotal += parseFloat(row.querySelector('.price').textContent);

      // Check for page break condition
      if ((index + 1) % 20 === 0 || index === rows.length - 1) {  // Assume 20 rows per page
        let subtotalRow = document.createElement('tr');
        subtotalRow.classList.add('subtotal-row');
        subtotalRow.innerHTML = `<td colspan="3">Subtotal</td><td>${subtotal.toFixed(2)}</td>`;
        row.parentNode.insertBefore(subtotalRow, row.nextSibling);
        subtotal = 0;
      }
    });
  });
</script>


<style>
    .addressfield{
        border: collapse !important;
        width: 100%;
        font-size: 8pt;
        margin-bottom: 4em;
    }

    .addressfield p{
        font-size: 7pt;
        margin-bottom: 2em;
    }
    .warrenty-excep{
        margin-left:30px;
    }
    table .dense
    {
        line-height: 0.5;
        font-size: 8pt;
    }

    .myFooterCol{
        width: 25%;
        font-size: 6pt; 
        font-style: oblique; 
        font-weight: 200; 
        font-family: 'Univers LT Std'; 
        font-style: oblique;
    }

    .myFooterCol td:first-child{
        border-left: none  !important;
    }

    .print-format {
        font-family: 'Univers LT Std';
    }

    p.headline{
        border-bottom: black solid 1px; 
        margin-bottom: 1em;
    }

    .infobox{
        background-color: #f7f7f7; 
        padding-top: 0.5em;
        padding-left: 1em;
        padding-right: 2em;
        padding-bottom: 1em;
        height: auto;
    }

    .spec {
        border-collapse: collapse;
        background-color: #fafafa;
        width: 100%;
        font-size: x-small;
    }

    .pricetable {
        line-height: 1;
        border-left: 1px solid gray  !important;
        border-right: 1px solid gray  !important;
        border-top: 1px solid gray  !important;
        border-bottom: 1px solid gray  !important;
        width: 100%;
        font-size: 7pt;
    }

    .sumtable {
        border: none !important;
        width: 100%;
        font-size: 7pt;
        border-spacing: 0px;
        padding: 0px;
    }

    tr.page-break {
        border-bottom: 1px solid black; /* Fügen Sie hier Ihre Linienstildefinition hinzu */
    }

    .pricetable td{
        border-left: 1px solid gray !important;
        border-right: 1px solid gray !important;
    }

    tr.tableLine {
        border-top: solid 1px gray;
    }

    tr:last-child.quoteitems {
        border-bottom: solid 2px gray;
    }
    .sectionHeader {
        font-weight: bold;
    }

    .spec td {
        border: 1px solid gray; 
    }
    .spec tr:first-child td {
        border-top: 0;
    }
    .spec tr td:first-child {
        border-left: 0;
    }
    .spec tr:last-child td {
        border-bottom: 0;
    }
    .spec tr td:last-child {
        border-right: 0;
    }

@font-face {
	font-family: 'Univers LT Std';
	font-style: normal;
	font-weight: 200;
	src: local('Univers LT Std 47 Cn Lt'), local('Univers LT Std 47 Cn Lt'), url('{{ site_url }}/assets/edevis/font/UniversLTStd-LightCn.otf') format('opentype');
}


@font-face {
	font-family: 'Univers LT Std';
	font-style: oblique;
	font-weight: 200;
	src: local('Univers LT Std 47 Cn Lt'), local('Univers LT Std 47 Cn Lt'), url('{{ site_url }}/assets/edevis/font/UniversLTStd-LightCnObl.otf') format('opentype');
}

@font-face {
	font-family: 'Univers LT Std';
	font-style: normal;
	font-weight: normal;
	src: local('Univers LT Std 57 Cn'), local('Univers LT Std 57 Cn'), url('{{ site_url }}/assets/edevis/font/UniversLTStd-Cn.otf') format('opentype');
}

@font-face {
	font-family: 'Univers LT Std';
	font-style: oblique;
	font-weight: normal;
	src: local('Univers LT Std 57 Cn'), local('Univers LT Std 57 Cn'), url('{{ site_url }}/assets/edevis/font/UniversLTStd-CnObl.otf') format('opentype');
}

@font-face {
	font-family: 'Univers LT Std';
	font-style: normal;
	font-weight: bold;
	src: local('Univers LT Std'), local('Univers LT Std'), url('{{ site_url }}/assets/edevis/font/UniversLTStd-BoldCn.otf') format('opentype');
}

@font-face {
	font-family: 'Univers LT Std';
	font-style: oblique;
	font-weight: bold;
	src: local('Univers LT Std'), local('Univers LT Std'), url('{{ site_url }}/assets/edevis/font/UniversLTStd-BoldCnObl.otf') format('opentype');
}

@font-face {
	font-family: 'Univers LT Pro';
	font-style: normal;
	font-weight: bold;
	src: local('Univers LT Pro'), local('Univers LT Pro'), url('{{ site_url }}/assets/edevis/font/UniversLTPro-XBlack.otf') format('opentype');
}

</style>

<!-- LETTER HEAD -->
{% if letter_head %}
<div class="print-format-header" id="header-html">
    {{ letter_head }}
</div>
{% endif %}

<!-- ADDRESS LABEL -->
<table class="addressfield">
<tr>
    <td style="width:60%">
        <p class="addresssender">edevis GmbH | Wilhelm-Haas-Str. 2 | D-70771 Leinfelden-Echterdingen</p>
    <strong>{{ doc.customer_name }}</strong><br/>
	{% if doc.address_display %}
	    {{ doc.address_display }}
	{% endif %}
	
	<br/>
	
	</td>
	<td style="width:40%">
		<table class="dense" style="width: 100%">
			<tr><td>{{ _("Supplier No.") }}:</td><td style="text-align: right;">{{ doc.supplier }}</td></tr>
			<tr><td>{{ _("Supplier VAT-Id") }}:</td><td style="text-align: right;">{{ frappe.db.get_value("Supplier", doc.tax_id, "tax_id") or "" }}</td></tr>
			<tr><td>{{ _("Quote") }}:</td><td style="text-align: right;">{{ doc.custom_quotation_no or "" }}</td></tr>
			<tr><td>{{ _("Processed by") }}:</td><td style="text-align: right;">{{ frappe.get_fullname(doc.modified_by) or "" }}</td></tr>
			<tr><td>{{ _("Project No.") }}:</td><td style="text-align: right;">{{ doc.project or "" }}</td></tr>			
			<tr><td>{{ _("Date") }}:</td><td style="text-align: right;">{{ frappe.utils.formatdate(doc.transaction_date or doc.posting_date, "dd.MM.yyyy") }}</td></tr>
			<tr><td>{{ _("Delivery Date") }}:</td><td style="text-align: right;">{{  frappe.utils.formatdate(doc.schedule_date, "dd.MM.yyyy") }}</td></tr>
		</table>
	</td>	 
</tr>    
</table>
 
<!-- HEADER -->
{% if doc.docstatus == 0 %}
<H2 style="text-align: center;">
    --- ENTWURF ---
</H2>
{% endif %}

{% set hide_item_section = false %}


{% set ns.Columns = 4 %}
{% if not hide_item_section %}
	{% set ns.Columns = 5 %}
	{% if quoteitem_has_discount(doc) %}
        {% set ns.Columns = 6 %}
    {% endif %}
{% endif %}

<div>
    <h5>{{ _("Purchase Order") }} <span style="font-weight: bold;">{{ doc.name }}</span></h5>
</div>

<div style="margin-bottom: 2em;">
    {% if doc.custom_purchase_order_note %}
        {{ doc.custom_purchase_order_note }}
    {% endif %}
</div>

<!--tax explanation-->
{% set tax_explanation = {} %}

<!-- PRICE TABLE -->
<table class=" table-sm pricetable" >
	<thead>
		<tr class="">
			<th width="5%">{{ _("Item Pos") }}</th>
			<th width="10%">{{ _("Item No") }}</th>
			<th width="25%">{{ _("Description") }}</th>
			<th width="5%" class="text-right">{{ _("Qty") }}</th>
			{% if not hide_item_section %}
    			<th width="10%" class="text-right">{{ _("Rate") }}</th>
    			{% if quoteitem_has_discount(doc) %}
    			<th width="10%" class="text-right">{{ _("Discount") }}</th>
    			{% endif %}
			{% endif %}
			<th width="10%" class="text-right">{{ _("Amount") }}</th>
		</tr>
	</thead>
	<tbody>
	    <!-- add parent relationship info to the quotation_items => support hierarchical section headers -->
		{%- for item in structurize_quoteitem(doc) -%}
            <!-- format with separator lines if element is first order position (POS1), else without (POS 1.1) -->
            {% set ns.tableLine = "tableLine" if not item.parent_item else "" %}
            <!-- format bold and with separator lines for section headers -->
            {% set ns.tableLine = "tableLine sectionHeader" if quoteitem_is_header(item) else ns.tableLine %}
            
    		<tr class="quoteitems {{ ns.tableLine }}">
		        <td class="">{{ item.position }}</td>

			    <td class="">
        		{{ item.item_code if item.item_group != "Format Elemente" else ""}}
        		
        		
			    <td class="">
			        <p>{{ _(item.item_name)}}</p>
        	
		 			{% if not doc.custom_compact_item_print and item.item_group != "Format Elemente" %}
                    <p>{{ _(item.description)}}</p>    
                    {%- endif -%}
                    
        	        <!--Display of country of origin and custom tarif number-->
                    {% set country_of_origin = frappe.db.get_value("Item", item.item_code, "country_of_origin") %}
                    {% set tariff_number = frappe.db.get_value("Item", item.item_code, "customs_tariff_number") %}
                    {% if country_of_origin or tariff_number %}
                      <p>
                        {% if country_of_origin %}{{ _("Country of Origin") }}: {{ _(country_of_origin) }} {% endif %}
                        {% if country_of_origin and tariff_number %}, &nbsp; {% endif %}
                        {% if tariff_number %}{{ _("Customs Tariff Number") }}: {{ _(tariff_number) }}{% endif %}
                      </p>
                    {% endif %}
        		
    			</td>
    			{% if doc.flags.print_settings.print_uom_after_quantity %}
    			    <td class=" text-right">{{ item.qty if item.qty != 0 else "" }} {{ _(item.uom) }}</td>
    			{% else %}
    			    <td class=" text-right">{{ _(item.uom) if item.qty != 0 else "" }} {{ item.qty if item.qty != 0 else "" }}</td>
    			{% endif %}
    			
				{% if not hide_item_section %}
        		    <!-- conditional discount column -->
	        		{% if quoteitem_has_discount(doc) %}
    			        <td class=" text-right">{{ item.get_formatted("price_list_rate") if item.price_list_rate != 0 else item.get_formatted("rate") if item.rate != 0 else "" }}</td>
            			<td class="{{ ns.tableLine }} text-right">{{ item.get_formatted("discount_percentage") if item.discount_percentage != 0 else "" }}</td>
            		{% else %}
    			        <td class=" text-right">{{ item.get_formatted("rate") if item.rate != 0 else "" }}</td>
        			{% endif %}
    			{% endif %}


    		    <!-- amount column -->
    			<td class="{{ ns.tableLine }} text-right">{{ item.get_formatted("amount") if item.amount != 0 else "" }}</td>
    		</tr>
    		
		{%- endfor -%}
		
		{% set ns.tableLine = "tableLine" %}
		
		<tr class=" quoteitems {{ ns.tableLine }}">
			{% if doc.flags.show_inclusive_tax_in_print %}
				<td colspan="{{ ns.Columns }}">
					{{ _("Total Excl. Tax") }}
				</td>
				<td class="text-right">
					{{ doc.get_formatted("net_total", doc) }}
				</td>
			{% else %}
				<td colspan="{{ ns.Columns }}">
					{{ _("Total") }}
				</td>
				<td class="text-right">
					{{ doc.get_formatted("total", doc) }}
				</td>
			{% endif %}
		</tr>
		
		{%- if doc.discount_amount -%}
		<tr class=" quoteitems {{ ns.tableLine }}">
			<td colspan="{{ ns.Columns }}">
			    {%- if doc.additional_discount_percentage != 0 -%}
				    {{ _("Discount") }} ({{ doc.get_formatted("additional_discount_percentage") }} &percnt;)
				{% else %}
				    {{ _("Discount") }}
				{%- endif -%}    
			</td>
			<td class="text-right">
				{{ doc.get_formatted("discount_amount") }}
			</td>
		</tr>
		
		<tr class="quoteitems {{ ns.tableLine }}">
			<td colspan="{{ ns.Columns }}">
			    {{ _("Net Total") }}
			</td>
			<td class="text-right">
				{{ doc.get_formatted("net_total") }}
			</td>
		</tr>
		{%- endif -%}		
		
		{%- for row in doc.taxes -%}
		    {%- if not row.included_in_print_rate or doc.flags.show_inclusive_tax_in_print -%}
    		    {%- if row.tax_amount > 0 or row.charge_type == "On Previous Row Total" -%}
    		    
    		        <!--tax explanation-->
    		        {% set account = frappe.get_doc("Account", row.account_head) %}
    		        
    		        {% if row.charge_type == "On Previous Row Total" and account.account_number == "8125" %}
    		           {% set __ = tax_explanation.update({'explanation': "Tax free (Intra-community supply of goods)"}) %}
    		        {% elif row.charge_type == "On Previous Row Total" and account.account_number == "8336" %}
    		           {% set __ = tax_explanation.update({"explanation" : "The aforementioned services rendered refer to other services. The tax liability applies in accordance with § 13b UStG, so the tax has to be directly declared and paid by the benefit recipient to the tax office. The recipient is tax-liable for these services (Reverse-Charge)."}) %}
    		        {% elif row.charge_type == "On Previous Row Total" and account.account_number == "8120" %}
    		           {% set __ = tax_explanation.update({"explanation" : "Tax free export consignment"}) %}
    		        {% elif row.charge_type == "On Previous Row Total" and account.account_number == "8338" %}
    		           {% set __ = tax_explanation.update({"explanation": "Non-taxable services in Germany"}) %}
    		        {% endif %}
    		        
    		        
        			<tr class="quoteitems {{ ns.tableLine }}">
        				<td colspan="{{ ns.Columns }}">
        				    {% if '%' in row.description or row.rate == 0 %}
        					    {{ _(row.description) }}
        					{% else %}
        					    {{ _(row.description) }}@{{ row.rate }}%
        					{% endif %}
        				</td>
        				<td class="text-right">
        					{{ row.get_formatted("tax_amount", doc) }}
        				</td>
        			</tr>
    		    {% endif %}
		    {%- endif -%}
        {%- endfor -%}	
		
		<tr class="quoteitems {{ ns.tableLine }}">
			<td colspan="{{ ns.Columns }}">
				<b>{{ _("Grand Total") }}</b>
			</td>
			<td class="text-right">
				<b>{{ doc.get_formatted("grand_total") }}</b>
			</td>
		</tr>
	</tbody>
</table>

<p><br></p>
{%- if doc.taxes_and_charges is not none and "Reverse Charge" in doc.taxes_and_charges -%}
    <p><strong>{{ _("Reverse charge") }}</strong></p>
    {{ _("Reverse Charge Text") }}
    
{%- endif -%}

<!--tax explanation-->
{% if tax_explanation %}
<p><strong>{{ _("Sales Tax:") }}</strong> {{ _(tax_explanation.explanation) }} </p>
<p><br></p>
{% endif %}

<p><strong>{{ _("Payment terms") }}</strong></p>
    {% if doc.is_return and doc.return_against %}
        {% set ref_doc = frappe.get_doc(doc.doctype, doc.return_against) %}
        {%- for row in ref_doc.payment_schedule -%}
            {{ _(row.description) }}<br>
        {%- endfor -%}
    {% else %}
        {%- for row in doc.payment_schedule -%}
            {{ _(row.description) }}<br>
        {%- endfor -%}
    {% endif %}

<p><br></p>
<p><strong>{{ _("Mode of delivery") }}</strong></p>
{{ _(doc.incoterm) }} - {{ doc.named_place }} (Incoterms 2020)


{% if doc.terms %}
    {{ doc.terms | replace("{{ payment_terms_template }}", doc.payment_terms_template) | replace("{{ incoterm }}", doc.incoterm or "EXW" ) | replace("{{ named_place }}", doc.named_place or "Leinfelden-Echterdingen" ) | replace("{{ valid_till }}", doc.valid_till) }}
{% endif %}

{% if doc.print_specification %}

<div class="page-break"></div>

<h3><span style="font-weight: normal;">{{ _("Specification for") }}</span> {{ doc.name }}</h3>
{%- for item in doc.items -%}
    {% if item.item_group != "Format Elemente" %}
    <div style="page-break-inside: avoid !important;">
    <!-- avoid page break after heading using a table -->
    <table style="width: 100%">
        <tr class="page-break">
            <td style="width: 100%">
                <!-- heading with item code and item name -->
            	<h4 style="font-weight:normal;">{{ item.item_code }}  &nbsp;
            	{%- if item.item_name != item.item_code -%}
            		<b>{{ item.item_name }}</b>
            	{%- endif -%}
            	</h4>
                <!-- item picture -->
                
                {%- if not "img src" in _(item.description) and item.image  -%}
                <div style="max-width: 60%; margin-right: 10px;">
                    <img src="{{ item.image }}" style="max-width: 100%">
                </div>
                {%- endif -%}
            </td>
        </tr>
    </table>

    <p>{{ _(item.description) }}</p>
	
	<div style="height: 3em;">&nbsp;</div>
	</div>
	{% endif %}
{%- endfor -%}
{% endif %}


<p><br></p>

<div id="footer-html" class="visible-pdf">
    <div class="print-format-footer">
        {{ footer }}
    </div>
</div>